md-toolbar.md-whiteframe-z1
  div.md-toolbar-tools.md-hue-3(ng-include="'/partials/toolbar_tools'", ng-controller='ToolbarToolsCtrl')
md-content.account-settings-content
  section.md-padding
    h3 Email
    p {{user.email}}
    md-input-container
      label New email
      input(type='email', ng-model='emailParams.email')
    .action-row
      md-button.md-primary.md-raised(ng-click='changeEmail()' ng-disabled='processingEmail') Change email
      md-progress-circular(md-mode='indeterminate', ng-show='processingEmail')
  md-divider
  md-content.section.md-padding
    h3 Password
    md-input-container
      label Current password
      input(type='password', ng-model='passwordParams.oldPassword')
    md-input-container
      label New password
      input(type='password', ng-model='passwordParams.newPassword')
    md-input-container
      label Retype new password
      input(type='password', ng-model='passwordParams.confirmPassword')
    .action-row
      md-button.md-primary.md-raised(ng-disabled='processingPassword' ng-click='changePassword()') Change password
      md-progress-circular(md-mode='indeterminate', ng-show='processingPassword')
  md-divider
  md-content.section.md-padding
    h3 Delete account
    .action-row
      md-button.md-primary.md-raised(ng-disabled='processingDeleteAccount' ng-click='deleteAccount()') Delete account
      md-progress-circular(md-mode='indeterminate', ng-show='processingDeleteAccount')
