md-dialog#auth-dialog
  md-content
    form(ng-keydown='handleKeydown($event)', novalidate)
      md-input-container
        label Email
        input(id='email', type='email', ng-model='params.email')
      md-input-container
        label Password
        input(type='password', ng-model='params.password')
      md-input-container.fade-in(ng-if='!signInMode')
        label Retype password
        input(type='password', ng-model='params.confirmPassword')
    .text-rows
      .text-row.row-error.fade-in(ng-if="errorMessage") {{errorMessage}}
      .text-row.fade-in(ng-if='!signInMode')
        | Have an account?
        =  ' '
        button.link-button(ng-click='toggleMode()') Sign in
      .text-row.fade-in(ng-if='signInMode')
        | New user?
        =  ' '
        button.link-button(ng-click='toggleMode()') Sign up
      .text-row.row-forgot.fade-in(ng-if='signInMode')
        button.link-button(ng-click='forgot()') Forgot password?
  .md-actions(layout="row")
    md-button(ng-click='cancel()') Cancel
    md-button(href='/auth/google') Sign with google
    md-button.md-primary(ng-disabled='canceler !== null', ng-click="submit()") {{signInMode ? 'Sign in' : 'Sign up'}}
md-progress-linear(md-mode='indeterminate', ng-show='canceler !== null', style="position: fixed; top: -5px; left: 0; right: 0;")

