md-bottom-sheet.md-grid
  md-list
    md-list-item(ng-repeat='outputType in OUTPUT_TYPES')
      .md-button.md-grid-item-content(ng-click='hideBottomSheet(outputType.type)')
        md-icon(md-svg-icon="{{outputType.iconUrl}}")
        .md-grid-text  {{ outputType.title }}
