md-bottom-sheet.md-grid
  md-list
    md-list-item(ng-repeat='inputType in inputTypes')
      md-button.md-grid-item-content(ng-click='hideBottomSheet(inputType.type)')
        md-icon(md-svg-icon="{{inputType.iconUrl}}")
        .md-grid-text {{inputType.title}}
