.text-input-container
  .title-row
    .title {{metaInput.label || '[Label]'}}:
    .config-icons(ng-include="'/partials/input_config_icons'")
  .content-row(layout="row", layout-align="start center").input-container-row
    md-input-container(flex)
        input(ng-if="!metaInput.multiline", type="text", ng-model="inputsInner[metaInput.id]", aria-label="{{metaInput.label || '[Label]'}}")
        textarea(ng-if="metaInput.multiline", type="text", ng-model="inputsInner[metaInput.id]", aria-label="{{metaInput.label || '[Label]'}}")