.radio-input-container
  .title-row
    .title {{metaInput.label || '[Label]'}}:
    .config-icons(ng-include="'/partials/input_config_icons'")
  md-select(ng-model='inputsInner[metaInput.id]')
    md-option(ng-repeat='choice in metaInput.choices', ng-value='choice.value') {{choice.label}}
