.text-input-container
  .title-row
    .title {{metaInput.label || '[Label]'}}:
    .config-icons(ng-include="'/partials/input_config_icons'")
  .content-row
    md-input-container
      input(type="number", ng-model="inputsInner[metaInput.id]")
