.checkbox-input-container
  md-checkbox.md-primary(ng-model="inputsInner[metaInput.id]", aria-label="{{metaInput.label}}", noink) {{metaInput.label || '[Label]'}}
  .config-icons(ng-include="'/partials/input_config_icons'")
