.section-input-container(ng-init='metaInputOuter = metaInput')
  .title-row
    .title {{metaInput.label || '[Label]'}}:
    .config-icons(ng-include="'/partials/input_config_icons'")

  .button-row
    .button-row-inner
      md-menu
        md-button.md-primary(ng-click="$mdOpenMenu($event)") Add input
        md-menu-content
          md-menu-item(ng-repeat='inputType in NESTED_INPUT_TYPES')
            md-button(ng-click="addInput({$event: $event, metaInputs: metaInputs, nested: true, type: inputType.type,})") {{inputType.title}}
