div(ng-if="getType() == 'absolute'")
  .content(layout='row')
    md-input-container(flex)
      md-select(ng-model="value.params.month")
        md-option(ng-repeat="month in months", ng-value="month.value") {{month.label}}
    md-input-container(flex)
      input(type="number", ng-model="value.params.day")
    span.form-text ,
    md-input-container(flex)
      input(type="number", ng-model="value.params.year")
  .footer(layout="row")
    md-button(ng-click="toggleType()")
      | Switch to relative date
div(ng-if="getType() == 'relative'")
  .content(layout='row')
    md-input-container(flex)
      input(type="number", ng-model="value.params.delta")
    md-input-container(flex)
      md-select(ng-model="value.params.units", default, default-value="'days'")
        md-option(ng-repeat="unit in units", ng-value="unit.value") {{unit.label}}
    span.form-text from now
  .footer(layout="row")
    md-button(ng-click="toggleType()")
      | Switch to absolute date
