.table-output-container
  .title-row
    span.title {{metaOutput.label || '[Label]'}}
    .config-icons(ng-include="'/partials/output_config_icons'")
  .comment.fade-in(ng-if='!outputs[metaOutput.id]') The table will be displayed when the script returns some rows for it.
  .content-row.fade-in(ng-if="outputs[metaOutput.id]")
    table
      thead
        tr
          th.fade-in(ng-repeat='column in metaOutput.metaOutputs track by column.id') {{column.label || '[Column header]'}}
      tbody
        tr.fade-in(ng-repeat='row in outputs[metaOutput.id] track by $index')
          td.fade-in(ng-repeat='column in metaOutput.metaOutputs track by column.id')
            span(ng-if='row[column.id].type != "boolean"')
              | {{row[column.id].value}}
            span(ng-if='row[column.id].type == "boolean"')
              | {{row[column.id].value ? 'Yes' : 'No'}}
