div(ng-if='calc !== null', flex, layout-gt-sm='row', layout-fill)
  #published-sidebar.published-aside(flex-gt-md="25", flex-md="33", md-theme="alternative", layout-gt-sm='column')
    .main(flex)
      h1.frame-title {{title}}
      .section.description(ng-show="calc.doc.description", ng-bind-html="calc.doc.description | jscalcLinkify")
      .section.share(hide-sm, ng-include="'/partials/published_share'")
      .footer(hide-sm, ng-include="'/partials/published_footer'")
  jscalc-calc(flex, layout='column', doc="calc.doc", inputs='inputs', defaults='defaults', edit-mode='false', focus-first-input='true')
  .published-aside(hide-gt-sm, md-theme="alternative")
    .section.share(ng-include="'/partials/published_share'")
    .footer(ng-include="'/partials/published_footer'")
