md-input-container
  label Property name
  input(ng-model='settingsModel.metaOutput.name')
.warning(ng-if='isNameConflict(settingsModel.metaOutputs, settingsModel.metaOutput)')
  | This name conflicts with that of another output.
md-input-container
  label Label
  input(ng-model='settingsModel.metaOutput.label')
jscalc-mover(items="settingsModel.metaOutputs", item-id="settingsModel.metaOutput.id", get-label="getLabel", get-id="getId")
