h2 Choice Input Settings
.content(ng-if="settingsModel.metaInput")
  div(ng-include="'/partials/settings_input_common'")
  h3 Choices
  .sortable-container(ui-sortable='{axis: "y"}', ng-model="settingsModel.metaInput.choices", tabindex="-1")
    .choice.sortable-item(ng-repeat='choice in settingsModel.metaInput.choices track by choice.id')
      h4
        | Option {{$index + 1}}
        .config-icons
          md-button.md-icon-button(aria-label='Delete', ng-click="deleteChoice(settingsModel.metaInput.choices, choice.id)")
            md-icon(md-svg-icon="/img/icons/ic_delete_24px.svg")
      md-input-container
        label Label
        input(ng-model='choice.label')
      md-input-container
        label Value
        input(ng-model='choice.value')
      jscalc-mover(items="settingsModel.metaInput.choices", item-id="choice.id", get-label="getLabel", get-id="getId")
  .button-row
    md-button.md-primary(ng-click="addChoice(settingsModel.metaInput)") Add choice
