h2.md-title Value Output Settings
.content(ng-if="settingsModel.metaOutput")
  div(ng-include="'/partials/settings_output_common'")
  h3.md-subhead Number Format
  md-input-container
    label Decimal places
    input(type='number', ng-model='settingsModel.metaOutput.decimalPlaces')
  md-input-container
    label Currency sign
    input(ng-model='settingsModel.metaOutput.currencySign')
  .checkbox-row
    md-checkbox.md-primary(ng-model='settingsModel.metaOutput.percent') Display in percent
