h2.md-title Table Output Settings
.content(ng-if="settingsModel.metaOutput")
  div(ng-include="'/partials/settings_output_common'")
  h3.md-subhead Columns
  div
    .column(ng-repeat='column in settingsModel.metaOutput.metaOutputs track by column.id')
      h4.md-body-2
        | Column {{$index + 1}}
        .config-icons
          md-button.md-icon-button(aria-label='Delete', ng-click="deleteColumn(settingsModel.metaOutput.metaOutputs, column.id)")
            md-icon(md-svg-icon="/img/icons/ic_delete_24px.svg")
      md-input-container
        label Property name
        input(ng-model='column.name')
        div(ng-messages="{'name-conflict': isNameConflict(settingsModel.metaOutput.metaOutputs, column)}")
          div(ng-message="name-conflict") This name conflicts with another column.
      md-input-container
        label Header
        input(ng-model='column.label')
      md-input-container
        label Decimal places
        input(type='number', ng-model='column.decimalPlaces')
      md-input-container
        label Currency sign
        input(ng-model='column.currencySign')
      jscalc-mover(items="settingsModel.metaOutput.metaOutputs", item-id="column.id", get-label="getLabel", get-id="getId")
      .checkbox-row
        md-checkbox.md-primary(ng-model='column.percent') Display in percent
  .button-row
    .button-row-inner
      md-button.md-primary(ng-click="addColumn(settingsModel.metaOutput)") Add column
