h2.md-title Text Input Settings
.content(ng-if="settingsModel.metaInput")
  div(ng-include="'/partials/settings_input_common'")
  .checkbox-row
    md-checkbox.md-primary(ng-model='settingsModel.metaInput.multiline') Multi-line text input