md-input-container
  label Property name
  input(ng-model='settingsModel.metaInput.name')
.warning(ng-if='isNameConflict(settingsModel.metaInputs, settingsModel.metaInput)')
  | This name conflicts with that of another input.
md-input-container
  label {{settingsModel.metaInput.type == 'list' ? 'Caption (singular)' : 'Label'}}
  input(ng-model='settingsModel.metaInput.label')
md-checkbox.md-hue-3(ng-model='settingsModel.metaInput.autohide') Auto-hide when not applicable
.comment Hides the input if given current values of other inputs, the script does not read its value.
