md-input-container
  label Property name
  input(ng-model='settingsModel.metaOutput.name')
  div(ng-messages="{'name-conflict': isNameConflict(settingsModel.metaOutputs, settingsModel.metaOutput)}")
    div(ng-message="name-conflict") This name conflicts with another output.
md-input-container
  label Label
  input(ng-model='settingsModel.metaOutput.label')
jscalc-mover(items="settingsModel.metaOutputs", item-id="settingsModel.metaOutput.id", get-label="getLabel", get-id="getId")
