md-toolbar.welcome-toolbar
  div.md-toolbar-tools(ng-include="'/partials/toolbar_tools'", ng-controller='ToolbarToolsCtrl')
md-content.welcome
  .foreground
    .md-padding.description
      .grid.section(layout='column', layout-gt-md='row', layout-align="space-around")
        .space(flex)
        .item.item-left(flex)
          h2.heading-1 Create a custom online calculator
          .content
            | JSCalc.io is a free and open-source web service that reduces the task of creating an embeddable, mobile-frindly calculator to writing a single Javascript function. Watch it in action in the short video below.
        .space(flex)
    .centered.md-padding.limit-width
      .demo-container
        iframe(src="https://www.youtube.com/embed/bLIiqTTu8eo?&color=white&modestbranding=1&showinfo=0&rel=0" frameborder="0" allowfullscreen)
    .centered.md-padding
      .footer
        p
          a.social-icon(title='Twitter', href='https://twitter.com/ivan7237d', target='_blank')
            md-icon(md-svg-icon="/img/icons/twitter.svg")
          a.social-icon(title='Github', href='https://github.com/ivan7237d/jscalc', target='_blank')
            md-icon(md-svg-icon="/img/icons/github.svg")
        p
          | © 2014-2015
          = ' '
          a(href='https://twitter.com/ivan7237d', target='_blank') Ivan Novikov
          = ' '
          | • Licensed under
          = ' '
          a(href='https://github.com/ivan7237d/jscalc/blob/master/LICENSE', target='_blank') MIT License
          = ' '
          | • Image credit:
          = ' '
          a(href='http://www.flickr.com/photos/farbwahl/3675824716/', target='_blank') Florian Sprenger
          = ' '
          | (used with permission)
