$seam-border-color: rgba(0,0,0,0.12);
$header-color: rgba(0,0,0,0.54);
$muted-on-dark-color: rgba(255, 255, 255, 0.7);
$muted-on-dark-primary-color: rgba(33,150,243,0.8);
$muted-on-dark-highlight-color: rgba(255, 255, 255, 0.9);
$primary-color: rgb(33,150,243);
$primary-color-darker: #1E88E5;
$accent-color: rgb(255,255,0);
$accent-hue-3-color: rgb(255,214,0);
$warning-color: #e51c23;
$sidenav-width: 250px;

code, pre, .code, .ace_editor {
  font-family: 'Roboto Mono', Monaco, Menlo, 'Ubuntu Mono', Consolas, source-code-pro, monospace;
  font-size: 13px;
}

@mixin z1 {
  box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26);
}


@mixin z2 {
  box-shadow: 0px 8px 17px rgba(0, 0, 0, 0.2);
}


@mixin io-row {
  #io-container {
    box-sizing: border-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    overflow: initial;
  }

  #inputs, #outputs {
    box-sizing: border-box;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }

  /* Because of the border on #inputs */
  #inputs {
    padding-right: 19px;
    border-right: 1px solid $seam-border-color;
  }

  .list-input-container {
    & > .item > .content-row {
      margin-left: 50px;
    }

    /* Because of the border on #inputs */
    .item-prototype {
      margin-right: -19px;
    }
  }
}


a, .link-button {
  color: $primary-color;
  text-decoration: none;
  font-weight: 400;
  outline: none;

  &:focus {
    background-color: rgba(158,158,158,0.2) !important;
  }
}

.link-button {
  display: inline;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font-weight: normal;
}


md-sidenav {
  background-color: rgba(0, 0, 0, 0.8);
}


.md-sidenav-left {
  md-content {
    padding: 12px 0;
  }

  a, .section, button {
    text-decoration: none;
    line-height: 44px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background: transparent;
    color: inherit;
    border: none;
    margin: 0;
    padding: 0 20px;
    position: relative;
    font-weight: 500;

    &.indent {
      padding-left: 57px;
    }
  }

  a {
    position: relative;
    display: block;
    color: inherit;

    &.active {
      color: $accent-color;
    }
  }

  .section {
    color: rgba(255, 255, 255, 0.5);;
  }

  button {
    width: 100%;
    text-align: left;
    outline: none;

    &:focus {
      background-color: rgba(158,158,158,0.2) !important;
    }
  }

  .new-calculator-icon {
    position: absolute;
    top: 10px;
    left: 52px;
    color: #fff;
  }

  .new-calculator-label {
    margin-left: 26px;
  }
}


#app-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 24px;
}


.rotatable-container {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 24px;
  height: 24px;
}


.rotatable-container md-icon {
  position: absolute;
  top: 12px;
  left: 12px;
  margin-left: -12px;
  margin-top: -12px;
}


.rotating md-icon {
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


#inputs, #outputs, #cheat-sheet, #link, #embed {
  background-color: #fff;

  .frame-title {
    color: $header-color;
  }

  .md-button {
    margin-left: -6px;
    margin-right: 12px;
  }
}


#inputs, #outputs, #cheat-sheet, #link, #embed, .published-aside {
  padding: 0px 20px;

  .frame-title {
    margin: 20px 0px;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
  }
}


#io-container {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}


.input-row, .output-row, .button-row {
  margin-top: 30px;
  margin-bottom: 30px;

  .comment {
    font-size: 12px;
    margin-top: 10px;
  }
}


.config-icons {
  display: inline-block;
  white-space: nowrap;

  .md-button {
    margin: -12px 0;
    width: 36px;
    height: 36px;
    line-height: 36px;

    md-icon {
      vertical-align: top;
      color: $primary-color;
      margin-top: 6px;
    }
  }
}


.title-row {
  .title {
    display: inline-block;
    margin-right: 16px;
    color: $header-color;
    font-weight: 500;
  }
}


.input-row {
  md-input-container, md-select {
    padding: 4px 2px 12px;
    margin: 0;
  }

  md-input-container:first-child, md-select:first-child {
    padding-left: 0;
  }

  md-input-container:last-child, md-select:last-child {
    padding-right: 0;
  }

  md-slider {
    margin-left: 0;
    margin-right: 20px;
  }

  md-radio-group {
    margin-bottom: -15px;
  }

  md-radio-button, .md-switch-thumb {
    margin: 10px;
  }
}


.hidden-indicator {
  display: none;
  background-color: $accent-hue-3-color;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 500;
  color: #FFF;
  padding: 0px 7px;
  margin: 0 6px;
}

.edit-mode .hidden .hidden-indicator {
  display: inline-block;
}


.hidden {
  display: none;
}

.edit-mode .hidden {
  display: block;
}


.checkbox-input-container {
  md-checkbox {
    display: inline-block;
    margin: 0 15px 0 0;
  }
}


/* Text styled to align with inputs that are on the same line */
.form-text {
  line-height: 26px;
  padding: 6px 2px 14px;
}


.form-text:first-child {
  padding-left: 0;
}

.form-text:last-child {
  padding-right: 0;
}


jscalc-date-input {
  .content {
    height: 37px;
  }


  .footer {
    margin-top: 5px;
    margin-bottom: -5px;

    md-button {
      margin-right: -6px;
    }
  }

  .md-button {
    font-size: 12px;
    margin-left: -6px;
    margin-top: -4px;
  }
}


.list-input-container {
  .item {
    margin-top: 24px;
  }

  & > .item > .content-row {
    margin-left: 20px;
  }

  .item-prototype {
    background-color: #F4F4F4;
    padding: 15px 20px;
    margin: 0 -20px;

    .button-row {
      margin-bottom: 0;
    }
  }
}


.debug-comment {
  font-size: 12px;
  margin-top: -22px;
  margin-bottom: 30px;
}


.outputs-warning {
  display: inline-block;
  height: 48px;
  width: 48px;
  margin-right: 12px;
  color: $accent-hue-3-color;
}


.value-output-container {
  .content-row {
    margin-top: 12px;
    font-size: 16px;
  }
}


.table-output-container {
  table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    margin-top: 10px;
  }

  th, td {
    text-align: left;
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #DDD;
  }

  th {
    color: $header-color;
    font-weight: 500;
    font-size: 12px;
    vertical-align: bottom;
    border-bottom: 2px solid $primary-color;
    border-top: 0;
  }
}

#script {
  position: relative;
}


#cheat-sheet {
  display: none;

  p {
    line-height: 22px;
  }

  pre {
    margin-left: 0px;
  }
}


.ace_editor {
  position: absolute;
  top: 0;
  left: 0;
  right: -0.5px;
  bottom: 0;
}


#link, #embed {
  .link {
    padding-top: 22px;
  }

  .description-title {
    padding-top: 22px;
  }

  .textarea-container {
    padding: 6px 0 20px;
    display: flex;
    position: relative;
    flex-direction: column;
  }

  a {
    font-size: 24px;
    word-wrap: break-word;
  }

  md-checkbox {
    margin-left: 0;
    margin-top: -4px;
    margin-bottom: 16px;
  }

  textarea {
    border: 1px solid $seam-border-color;
    padding: 8px;
    outline: none;
    height: 82px;
    max-width: 600px;
    display: block;
    border-radius: 0;
    resize: none;

    &:focus {
      border-color: $primary-color;
    }
  }
}


.settings {
  padding: 5px 20px !important;

  h2 {
    margin: 15px 0 24px;
    line-height: 24px;
  }

  .warning {
    color: $warning-color;
    font-size: 14px;
  }

  .choice, .column {
    margin-bottom: 20px;
  }

  .button-row {
    margin: 20px -14px;
  }

  .checkbox-row {
    padding-bottom: 20px;

    md-checkbox {
      margin-left: 0;
    }

    .comment {
      margin-top: -4px;
      font-size: 12px;
      line-height: 17px;
      margin-left: 28px;
      color: $muted-on-dark-color;

      a {
        color: $muted-on-dark-primary-color;
      }
    }
  }

  md-input-container {
    padding-left: 0;
    padding-right: 0;
  }
}


md-bottom-sheet {
  .md-button {
    overflow: visible;
  }

  .md-grid-text {
    width: 90px !important;
  }

  md-icon {
    height: 48px;
    width: 48px;
    opacity: 0.54;
    color: black;
  }
}


#auth-dialog {
  md-content {
    width: 250px;
    background: transparent;
    padding: 12px;
  }

  .text-rows {
    margin-top: 34px;
  }

  .text-row {
    margin-top: 12px;
    font-size: 14px;
  }

  .row-error {
    color: $warning-color;
  }

  md-progress-circular {
    margin-right: -16px;
  }
}


.account-settings-content {
  md-input-container {
    max-width: 400px;
    padding-left: 0;
  }

  .md-button {
    margin-left: 0;
  }
}


md-progress-circular {
  display: inline-block;
  -webkit-transform: scale(0.5) !important;
  transform: scale(0.5) !important;
  margin-top: -12px;
  margin-bottom: -11px;
}


.md-input {
  min-height: 26px;
}


.md-toolbar-tools .md-menu {
  padding: 0;
}


/* Actually the toolbar doesn't have 'flex' on it, but in Chrome it still
shrinks (in Safari doesn't shrink). */
md-toolbar {
  flex-shrink: 0;
}


/* See https://github.com/angular/material/issues/4381 */
.md-toolbar-tools h1, .md-toolbar-tools h2, .md-toolbar-tools h3 {
  font-weight: 500;
}


.welcome {
  .header {
    background-color: $primary-color-darker;
    margin-bottom: 31px;
  }

  .centered {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
  }


  .title {
    color: #fff;
    margin: 45px 0 0;
    text-align: center;

    .name {
      display: inline-block;
      font-size: 50px;
      line-height: 60px;
      font-weight: 100;
    }

    .beta {
      display: inline-block;
      position: relative;
      font-size: 12px;
      color: yellow;
      margin-left: 12px;
      text-transform: uppercase;
      border: 1px solid yellow;
      border-radius: 100px;
      padding: 0px 7px;
      top: -6px;
    }
  }

  .description {
    color: #fff;
    line-height: 20px;
    margin: 4px 0 46px;
    text-align: center;
    font-size: 14px;
  }


  .section {
    margin-right: -40px;
  }


  .item {
    margin: 20px 0;
    margin-right: 40px;
  }


  h2 {
    color: $primary-color;
    margin-bottom: 9px;
  }


  .footer{
    margin-top: 60px;


    p {
      margin: 5px 0;
    }

    .social-icon {
      margin-right: 10px;
      margin-bottom: 5px;
      display: inline-block;

      md-icon {
        width: 36px;
        height: 36px;
      }
    }
  }

  .demo-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    margin-bottom: 20px;
    height: 0;
    overflow: hidden;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}


.published-aside {
  background-color: $primary-color-darker !important;
  color: #fff;
  /* Prevents margins from collapsing. */
  overflow: auto;

  md-icon {
    color: #fff;
  }

  a, .link-button {
    color: $muted-on-dark-highlight-color;
  }

  .section {
    margin: 31px 0;
    line-height: 19px;
  }

  .section:first-child {
    margin-top: 15px;
  }

  .section.description {
    color: $muted-on-dark-color;
    word-wrap: break-word;
  }

  .section.share {
    font-weight: 500;
  }

  .footer {
    margin-bottom: 15px;
    color: $muted-on-dark-color;

    .md-button {
      margin: -12px 0;
      width: 36px;
      height: 36px;
      line-height: 36px;
      top: 1px;

      md-icon {
        vertical-align: top;
        margin-top: 6px;
        color: $muted-on-dark-color;
      }
    }
  }

  .share-buttons {
    margin-left: -19px;
    margin-top: -2px;
  }
}


#published-sidebar {
  min-width: 275px;
}


.powered-by {
  display: none;
  font-size: 12px;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 1px 7px;
  color: $header-color;
  background-color: #fff;
  border: 1px solid $seam-border-color;
  border-bottom: none;
  border-right: none;

  a {
    color: inherit !important;
    font-weight: 500;
  }
}


.embed {
  overflow: auto;

  .powered-by {
    display: block;
  }
}


@-moz-document url-prefix() {
  .layout-fill {
    min-height: 0;
  }

  input[type="number"] {
    width: auto;
  }

  md-input-container {
    min-width: 0;
  }
}


/* Safari has default margin */
md-input-container input {
  margin-left: 0;
  margin-right: 0;
}


@media (max-width: 360px) {
  md-sidenav {
      min-width: 85%;
      max-width: 85%;
  }
}


@media (min-width: 600px) {
  .welcome {
    .title {
      margin: 56px 0 0;

      .name {
        font-size: 80px;
        line-height: 120px;
      }

      .beta {
        font-size: 18px;
        margin-left: 22px;
        border-width: 2px;
        padding: 4px 12px;
        font-weight: 500;
        top: -9px;
      }
    }

    .description {
      font-size: 20px;
      margin: -11px 0 71px;
    }
  }
}


@media (min-width: 675px) {
  .embed {
    box-sizing: border-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    overflow: initial;

    @include io-row;
  }
}


@media (min-width: 960px) {
  #toolbar-source {
    md-tabs {
      margin-left: 37px;
    }
  }

  #cheat-sheet {
    display: block;
    border-left: 1px solid $seam-border-color;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }

  #link {
    padding-right: 19px;
    border-right: 1px solid $seam-border-color;
  }

  @include io-row;
}
