body {
  margin: 40px;
  font-family: sans-serif;
}

.alert {
  margin: 2em 0;
  font-weight: bold;
}


.form-group {
  margin: 2em 0;
}

label {
  display: block;
}

input.form-control {
  width: 200px;
}
