doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(property='og:site_name', content='JSCalc.io')
    meta(property='og:title', content=title)
    meta(property='og:description', content=description)
  body
