doctype html
html(lang='en', ng-app='jscalcApp', ng-controller='JscalcCtrl')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='initial-scale=1, maximum-scale=1, user-scalable=no')
    meta(name='fragment', content='!')
    meta(name='Description', content='{{view.description}}')
    meta(property='og:url', content="{{getCanonicalUrl()}}")
    meta(property='og:site_name', content='JSCalc.io')
    meta(property='og:title', content="{{view.title || 'JSCalc'}}")
    meta(property='og:description', content='{{view.description}}')
    title(ng-bind="view.title ? view.title + ' - JSCalc' : 'JSCalc'")
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:100,400,500,700,400italic|Roboto+Mono')
    link(rel='stylesheet', href='/bower_components/angular-material/angular-material.css')
    // See https://github.com/ajaxorg/ace-builds/issues/45.
    script(src='/bower_components/ace-builds/src-min-noconflict/ace.js')
    != js('index')
    != css('index')
    script.
      angular.module('preloadedData', [])
      .constant('PRELOADED_DATA', !{JSON.stringify(preloaded)});
    != partials
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-56071268-1', 'auto');
      ga('send', 'pageview');
    script.
      if (navigator.userAgent.indexOf('MSIE') !== -1) {
         alert('Sorry, Internet Explorer 10 and earlier is not supported, please upgrade to 11+, or use Chrome or Firefox.');
      }
  body.md-body-1(layout='row')
    md-sidenav.md-sidenav-left.md-whiteframe-z3(md-component-id='left',  md-is-locked-open="sidenavsLockedOpen", layout='column', md-theme="alternative")
      md-content#side-nav(flex)
        a(href='/', ng-class="{active: isCurrentLocation('/')}", ng-click="closeNav()") Home
        .section Your Calculators
        a.fade-in.indent(ng-repeat="calc in calcList | orderBy:['caption', 'url']", href="{{calc.url}}", ng-class="{active: isCurrentLocation(calc.url)}", ng-click="closeNav()") {{calc.caption}}
        button.indent(ng-click='new()')
          md-icon.new-calculator-icon(md-svg-icon="/img/icons/ic_add_24px.svg")
          div.new-calculator-label New Calculator
        a(href='/account', ng-show='user.$resolved', ng-class="{active: isCurrentLocation('/account')}", ng-click="closeNav()") Account Settings
        a(href='/terms', ng-class="{active: isCurrentLocation('/terms')}", ng-click="closeNav()") Terms of Service
        a(href='/privacy', ng-class="{active: isCurrentLocation('/privacy')}", ng-click="closeNav()") Privacy Policy
    div(role='main', layout='column', layout-fill, ng-view='ng-view')
